:root {
    --bs-primary: #D72638;     /* Buttons kleur */
    --bs-secondary: #464646;   /* secundaire kleur */
    --bs-body-bg: #090C08;     /* achtergrondkleur */
    --bs-body-color: #B8B8B8;  /* tekstkleur */
    --bs-border-color: #2E2E2E; /* borders */
    
    --bs-font-sans-serif: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
    background-color: var(--bs-body-bg) !important;
    position: sticky !important;
    top: 0;
    z-index: 3;
}

.navbar .nav-link,
.navbar .navbar-brand,
.nav-item {
    color: var(--bs-body-color) !important;
}

.navbar .nav-link:hover {
    color: var(--bs-primary) !important;
}

.dropdown-item {
    color: var(--bs-body-color);
}

.dropdown-item:hover {
    color: var(--bs-primary);
    background-color: #090C08;
}

.text-muted {
    color: var(--bs-body-color) !important;
}

/* Body */




/* Footer */

footer {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-top: 1px solid var(--bs-border-color);
}

footer a {
    color: var(--bs-body-color) !important;
    text-decoration: none;
}

footer a:hover {
    color: var(--bs-primary) !important;
}

footer .btn-primary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

footer .btn-primary:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: var(--bs-body-color);
}